body {
    color: black;
    font-size: 16px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    background: #a1a4d0 url(bg2.jpg);
    background-size: cover;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:target {
    color: gainsboro;
}

h1 {
    text-align: center;
}

.avatar {
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(60, 60, 70, 25);
}

.container {
    background-color: rgb(203, 205, 231);
    max-width: 1000px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.infotext_item {
    margin-bottom: 10px;
}

.infotext_item a {
    display: flex;
    align-items: center;
}

.icon {
    width: 32px;
    height: 32px;
    margin-right: 15px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    margin-left: 10px;
}